<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-8.0</feature>
        <feature>microProfile-4.1</feature>
        <feature>grpc-1.0</feature>
        <feature>grpcClient-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <grpc httpEndpoints="localhost:9082/systemproto" />
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9082"
                  httpsPort="9445" />

    <!-- Due to target="*" this configuration will be applied to every gRPC service running on the server. 
        This configuration registers a ServerInterceptor -->
    <grpc target="*" serverInterceptors="io.openliberty.grpc.interceptors.GreeterServiceInterceptor"/>

    <!-- Due to host="*" this configuration will be applied to every gRPC client call that gets made. 
        This configuration registers a ClientInterceptor, and it directs Cookie headers to get forwarded
        with any outbound RPC calls - which in this case enables authorization propagation. -->
    <grpcClient host="*" clientInterceptors="io.openliberty.grpc.interceptors.GreeterClientInterceptor" headersToPropagate="Cookie"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>